<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    {% block msg %}

    {% if messages %}
    {% for message in messages %}
    <p class="alert alert-{{message.tags}}">{{message}}</p>
        
    {% endfor %}
    {% endif %}
    {% endblock msg %}
    
    {% block body %}
    {% endblock body %}

    <script src="{% static 'js/bootstrap.min.bundle.js' %}"></script>
</body>
</html>